@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<ETicketOfficeAdmin.Web.Models.Order>

<div class="container">

    <div class="row">
        <a class="btn btn-outline-success" asp-controller="Order" asp-action="ExportAllOrders">Export Orders</a>
    </div>

    <div class="row m-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Details</th>
                    <th scope="col">Number of Products</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];

                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@item.User.UserName</td>
                        <td>@item.Tickets.Count</td>
                        <td><a asp-route-orderId="@item.Id" asp-action="Details" class="btn btn-outline-secondary">Details for Order</a></td>
                        <td><a asp-route-orderId="@item.Id" asp-action="CreateInvoice" class="btn btn-outline-secondary">Create Invoice</a></td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
